<div class="row">
    <div class="col-xs-12">
    <section class="widget">
    <%= render "shared/messages" %>     
        <header>
            <span class="icon">&#128213;</span>
            <hgroup>
                <h1>Materiais</h1>
                <h2>Materiais cadastrados</h2>
            </hgroup>

        </header>
        <div class="content timeline">
                <% @dashboard_materials.each do |material| %>
                <div class="tl-post">
                    <span class="icon">&#128213;</span>
                    <p>
                     <%= link_to "#{material.name}",  edit_dashboard_material_path(material)%>
                        <span><%= material.attachment %></span>
                    </p>
                </div>
                <% end %>
        </div>
               <div class="col-md-12" id="pagination-content">
                    <%= will_paginate(@dashboard_materials) %>
                </div>
    </section>
   </div>
</div>   
