<div class="row">
    <div class="col-xs-12">
    <section class="widget">
    <%= render "shared/messages" %>     
        <header>
            <span class="icon">&#128213;</span>
            <hgroup>
                <h1>Materiais</h1>
                <h2>Materiais cadastrados</h2>
            </hgroup>

        </header>
        <div class="content timeline">
                <% @dashboard_disciplines.each do |discipline| %>
                    <%  discipline.materials.each do |material| %>
                        <span><%= material.name %></span>
                         <% end %>
                <div class="tl-post">
                    <span class="icon">&#128213;</span>
                    <p>
                   
                    </p>
                </div>
                <% end %>
                
        </div>
               <div class="col-md-12" id="pagination-content">
                    <%= will_paginate(@dashboard_disciplines) %>
                </div>
    </section>
   </div>
</div>   
