
<div class="row">
    <div class="col-xs-12">
    <section class="widget">
    <%= render "shared/messages" %>     
        <header>
            <span class="icon">&#128213;</span>
            <hgroup>
                <h1>Disciplinas</h1>
                <h2>Disciplinas cadastradas</h2>
            </hgroup>

        </header>
        <div class="content timeline">
            <% @dashboard_disciplines.each do |discipline| %>
                <div class="tl-post">
                    <span class="icon clickable-icon">&#128213;</span>
                    <p>
                      <%= link_to "#{discipline.noon? ? 'Tarde' : 'Noite'} - #{discipline.name}",  edit_dashboard_discipline_path(discipline)%>
                        <span><%= discipline.code %></span>
                    </p>
                </div>
                <% end %>
        </div>
                <div class="col-md-12" id="pagination-content">
                    <%= will_paginate(@dashboard_disciplines) %>
                </div>
    </section>
   </div>
</div>   

