 .field-wrap>select {
     max-width: 150px;
     margin-bottom: 15px;
 }
 
 textarea {
     resize: none;
 }
 
 section.widget>div.content {
     margin: auto;
     width: 50%;
 }
 
 .btn-form {
     margin-top: 15px !important;
 }
 
 .multiselect-container input {
     display: none
 }
 
 label {
     display: inline-block;
     max-width: 100%;
     margin-bottom: 5px;
     font-weight: 750;
 }
 
 .control-label {
     padding-top: 7px !important;
 }
 
 .form-group {
     margin-right: 0;
     margin-left: 0;
 }