<div class="header-main">
    <header class="main">
        <h1><strong>Gerenciador</strong> de Conte&uacutedo</h1>
    </header>
    <section class="user">
        <div class="profile-img">
            <a href="/dashboard" title="Perfil"></a>
            <p><img src="<%= current_user.avatar.url %>" alt="" height="40" width="40" /> Seja bem-vindo,
                <%= current_user.name %>
            </p>
        </div>
        <div class="buttons">
            <a href="<%= edit_dashboard_user_path(current_user.id) %>"><span class="button">Editar Perfil</span></a>
            <a href="/"><span class="button">Portal</span></a>
            <%= link_to('SAIR', destroy_user_session_path, :method => :delete, :class => "button blue") %>
        </div>
    </section>
</div>
