    <div style="padding-left: 40px;padding-right: 40px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 copy-text text-inverse">
                    <!-- <span class="m-contact-street" itemprop="street-address">Rua do Principe, 526 - Boa Vista, Recife-PE - CEP: 50050-900&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tel: +55 (81) 2119-4000 -->
                    <!-- </td> -->
                    <div class="pull-right">
                     <a href="mailto:masb@unicap.br" title="Contato"><i class="fa fa-envelope fa-2x"></i></a>
                     <a href="https://www.twitter.com/unicap" title="Twitter"><i class="fa fa-twitter fa-2x"></i></a>
                     <a href="https://www.facebook.com/catolicapernambuco/" title="Facebook"><i class="fa fa-facebook fa-2x"></i></a></span>
                 </div>
                 <span><strong>&nbsp;&copy; Universidade Católica de Pernambuco 2015 - <%= Date.today.year %></strong></span>

             </div>
         </div>
     </div>

 </div>
