
    
     <div class="pull-right" style="margin-top: -10px;">
                 <a href="https://www.twitter.com/unicap" title="Twitter" target="_blank"><img src="/assets/img/bt_twitter.png" style="width: 40px"></a>
                 <a href="https://www.facebook.com/catolicapernambuco/" title="Facebook" target="_blank"><img src="/assets/img/bt_face.png" style="width: 40px;margin-left: 10px;"></a>
            
     </div>
                 <span style="font-size: 16px;"><strong>&nbsp;&copy; Universidade Católica de Pernambuco - <%= Date.today.year %></strong></span>


