<p>Ola <%= @resource.name %>!</p>

<p>Essa é uma notificação automática referente a alterações recentes na sua conta.</p>
<p>Sua senha foi alterada recentemente. Se você fez essa alteração, favor descartar esse email, caso contrário entrar em contato através de portalc3@unicap.br ou repetir o processo de recuperação de senha.</p>

