<p>Olá <%= @resource.name %>!</p>

<p>Você está recebendo esse email porque foi solicitada a recuperação de senha de sua conta no Portal C3. Você pode fazer isso através do link abaixo.</p>
<p><%= link_to 'Alterar senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou esta alteração , por favor ignore este e-mail.</p>
<p>Sua senha não será alterada até você acessar o link acima e criar uma nova senha.</p>
